/* Stylesheet style.css */

/* import Press Start 2P font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid yellow;
    margin: 0px;
    font-size: 14px;
}

.main-container {
    text-align: center;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    
}

.info-pane {
    width: 50%;
    border: 1px solid red;

}

#btn-rules {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 16px yellow;
}

#btn-rules:hover {
    scale: 1.1;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px red;
    cursor: pointer;
}

#rules {
    background-color: brown;
    padding: 16px;
    line-height: 1.5;
}

.output {
    padding: 8px;
    font-size: 20px;
}

.game-pane {
    border: 1px solid purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    padding: 16px;

}

.game-tile {
    width: 200px;
    height: 250px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    object-position: top;
    padding-bottom: 16px;

    /* stop pixel art from de-pixelizing when upscaling */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    background-size: contain;
    background-repeat: no-repeat;
    /* add cursor */
    cursor: pointer;
}

/* general hover effects */
.game-tile:hover {
    scale: 1.1;
    transition-duration: .07s;
    font-size: 20px;
    color: orangered;
}
/* change bg images on hover */
#tile-zombie {
    background-image: url("./images/zombie.png");
}

#tile-zombie:hover {
    background-image: url("./images/zombie_ready.png");
}

#tile-man {
    background-image: url("./images/man.png");
}

#tile-man:hover {
    background-image: url("./images/man_ready.png");
}

#tile-gun {
    background-image: url("./images/gun.png");
}

#tile-gun:hover {
    background-image: url("./images/gun_ready.png");
}

.output-pane {
    font-size: 18px;
    padding: 8px;
}

.footer {
    background-color: gray;
    font-size: 10px;
    width: 100%;
    
}